*{
    margin: 0;
    padding: 0;

}


.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
}




